[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-telegram-bot = "*"
langchain = "*"
pydotenv = "*"
python-dotenv = "*"
langchain-openai = "*"
langchainhub = "*"
langchain-community = "*"
pypdf = "*"
pymupdf4llm = "*"
faiss-cpu = "*"
langgraph = "*"
gradio = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.12.0"
